.PhotoList {
    margin: 0 auto 2vw;
    
    .wrapper {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(431.33px, 2fr));
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        width: 100%;
        max-width: 1920px;

        @media (max-width:1540px) {
            grid-template-columns: repeat(2, 2fr);
        }
        @media (max-width:573px) {
            grid-template-columns: repeat(1, 2fr);
        }
    }
}

.card {
    display: flex;
    flex-direction: column;
    height: 244px;
}

.picture {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;

    .img {
        display: block;
        width: 100%;
        height: 100%;
        transition: all .4s ease-in-out;
    }
}

.card:hover {
    cursor: pointer;
    .picture .img {
        transform: scale(1.1);
    }
}

.details {
    margin-top: 8px;
    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
}