.PhotoList {
    margin: 0 auto 2vw;
    
    .wrapper {
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, minmax(431.33px, 2fr));
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 32px;
        grid-row-gap: 32px;
        width: 100%;
        max-width: 1920px;

        @media (max-width:1540px) {
            grid-template-columns: repeat(2, 2fr);
        }
        @media (max-width:573px) {
            grid-template-columns: repeat(1, 2fr);
        }
    }
}